body {
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  background-color: black;
  height: 40px;
  line-height: 40px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

nav li.active>a {
  text-decoration: underline;
}

#main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav li {
  float: left;
}

#login-form {
  float: right;
}

#login-form>input {
  max-width: 100px;
}
